// jsx,ECMAScript 등의 코드를 브라우저에서 실행(트랜스파일)할 수 있도록 변환. 
// babel 스크립트 실행시 compiled.js 파일 생성
{
    "presets": [
        [
            "@babel/preset-env",
            // 브라우저의 상위 버전 두개와(예: IE 11, 10) 한국(KR)에서 5% 이상의 점유율을 가지고 있는 브라우저에 대응하도록 컴파일 설정
            {"targets":{"browsers":["last 2 versions", ">=5% in KR"]}}  
        ],
        // 리액트도 컴파일 될수 있도록 설정
        "@babel/preset-react"
    ]
}