asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
Cython==0.29.23
DateTime==4.3
Deprecated==1.2.12
Django==3.2.1
django-cors-headers==3.7.0
django-filter==2.4.0
django-webpack-loader==0.7.0
djangorestframework==3.12.2
et-xmlfile==1.1.0
finance-datareader==0.9.31
html5lib==1.1
idna==3.1
importlib-metadata==4.0.1
llvmlite==0.36.0
lxml==4.6.3
mysqlclient==2.0.3
numpy==1.20.2
OpenDartReader==0.1.1
openpyxl==3.0.7
pandas==1.2.4
pykrx==1.0.13
PyMySQL==1.0.2
python-dateutil==2.8.1
pytz==2020.5
requests==2.25.1
requests-file==1.5.1
selenium==3.141.0
six==1.15.0
soupsieve==2.1
sqlparse==0.4.1
tqdm==4.60.0
UNKNOWN==0.0.0
urllib3==1.26.4
webencodings==0.5.1
wrapt==1.12.1
xlrd==2.0.1
zipp==3.4.0
zope.interface==5.3.0
