/* .searchbar{
margin-bottom: auto;
margin-top: auto;
height: 60px;
background-color: #353b48;
border-radius: 30px;
padding: 10px;
}
.search_input{
color: white;
border: 0;
outline: 0;
background: none;
width: 0;
caret-color:transparent;
line-height: 40px;
transition: width 0.4s linear;
}
.searchbar:hover > .search_input{
padding: 0 10px;
width: 450px;
caret-color:red;
transition: width 0.4s linear;
}
.searchbar:hover > .search_icon{
background: white;
color: #e74c3c;
}
.search_icon{
height: 40px;
width: 40px;
float: right;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
color:white;
text-decoration:none;
} */


/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px) 내 아이폰 */ 
@media all and (max-width:767px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
} 

/* PC, 테블릿 가로 (해상도 768px ~ 1023px) */
@media all and (min-width: 768px) and (max-width: 1023px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
}

/* PC,노트북 (해상도 1024px) */
@media all and (min-width:1024px) {
    /* 네비게이션 */
    .nav-div {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    /* Home */
    /* .container-fluid {
        width: 750px;
    } */
    
    .home-table-change-btn-div {
        float: right;
    }

    /* 차트 */
    .controls-div {
        width: 100%;
        height: 100px;
        Overflow: hidden;
    }

    .compinfo-text {
        z-index: 2;
        margin-top: 5px;
        padding-top: 70px;
        /* float: left; */
    }

    .btn {
        width: auto;
        margin-right: 5px;
    }

    .chart-btns-div {
        margin-top: 5px;
        margin-left: 10px;
    }

    .chart-input-div{
        margin-top: 5px;
        margin-left: 10px;
    }

    .amcharts-input {
        width: auto;
        margin: 5px;
    }

    .chart-candle-div {
        width: 100%;
        height: 750px;
    }

    /* 실적 테이블 */
    .table {
        /* 최소사이즈 800px */
        margin-top: 20px;
        height: fit-content;
        width: fit-content;
    }

    .table-btns-div {
        /* margin-top: 5px; */
        float: right;
    }

    /* 조건검색 */
    .per-input-box-div {
        margin-top: 50px;
        border-style: groove;
        height: 600px;
    }

    .fixed-table-body {
        width: 100%;
        height: 850px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .fixed-table-container {
        height: fit-content;
    }

    .trow {
        cursor: pointer;
    }

    .tooltip-graph {
        cursor: pointer;
        float: right;
        size: 2x;
    }
} 



